@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

.offer_inner_wrpr{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 65px 100px; */
    padding: 65px 100px 9%;
    position: relative;
}
.offer_wrpr{
    background: linear-gradient(93.34deg, #2D3C78 17.95%, #5161A2 95.54%);
}
.offer_images_wrpr{
    position: absolute;
    bottom: 0;
    width: 97%;
    transform: translate(0, 50%);
}
.offer_images_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
}
.offer_images_card img{
   border-radius: 12px;
   max-height: 180px;
}